@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$light-pink: #FFB6C1;
$pink: #FF69B4;

$family-sans-serif: "Quicksand", sans-serif;
$primary: $light-pink;
$link: $pink;
@import "../bulma-0.7.2/bulma.sass"