@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:500,700');

$pink: rgb(214, 40, 127);
$light-pink: #81378a;

$family-sans-serif: "Quicksand", sans-serif;
$primary: $pink;
$link: $light-pink;
@import "../bulma-0.7.2/bulma.sass"